{% load static %}
<li>
  <article class="post">
    <a href="{% url 'post_detail' slug='mountain-hiking' %}">
      <img src="{% static 'blog/images/mountains.jpg' %}" alt="Hiking Image" />
      <div class="post__content">
        <h3>Moutaing hiking</h3>
        <p>Exploring the mountains is a refreshing experience that rejuvenates the mind and body. In this post, I share my recent hiking adventure and the breathtaking views I encountered along the way.</p>
      </div>
    </a>
  </article>
</li>
